<div>
  <div class="unit-wrapper unit" [ngClass]="[unit.class,unit.nationality]">
    <div class="counterWrapper">
      <div class="counter"></div>
      <div *ngIf="unit.class === 'hq'" class="fa fa-flag"></div>
    </div>
    <p class="range ur">{{unit.range > 1 ? unit.range: ''}}</p>
    <div class="ll">{{unit.combat}} </div>
    <div class="lr">{{unit.movement}}</div>
  </div>
  <div class="unit-num">X {{unit.num}}</div>
  <button (click)="add()">+</button>
  <button (click)="remove()">-</button>
  <button (click)="clone()">Clone</button>

  <se-unit-editor [unit]="unit" ></se-unit-editor>

</div>
